version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: products-postgres
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Ocap_5791
      POSTGRES_DB: productsdb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
